<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/expansePage.css">
</head>
<body>
<div class="main-content">
    <h2>Expenses List</h2>
    <div class="button-container">
        <button class="custom-button" type="button" onclick="window.print()">Print</button>
        <button class="custom-button" type="button" onclick="window.location.href='@{/saveToCSV}'">Save to CSV</button>
        <button class="custom-button" type="button" onclick="window.location.href='/stats'">Statistics</button>
        <button class="custom-button" type="button" onclick="window.location.href='/filterByMinimum'">Filter by Minimum</button>
        <button class="custom-button" type="button" onclick="window.location.href='/filterByMaximum'">Filter by Maximum</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.description}"></td>
            <td th:text="${expense.price}"></td>
            <td class="action-buttons">
                <form action="/delete-expense" method="post" class="action-form">
                    <input type="hidden" name="expenseId" th:value="${expense.id}" />
                    <button type="submit">Delete</button>
                </form>
                <form action="/edit-expense" method="post" class="action-form">
                    <input type="hidden" name="expenseId" th:value="${expense.id}" />
                    <button type="submit">Edit</button>

                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="add-expense-form">
    <h2>Add New Expense</h2>
    <form action="/add-expense" th:object="${newExpense}" method="post">
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" required><br>
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{price}" required><br>
        <button class="button-79" type="submit">Add</button>
    </form>
</div>

</body>
</html>

